<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
    <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
</div>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="goExample4()">Ir a ANTERIOR ejemplo</button>
    <button type="button" class="btn btn-default" ng-click="goExample6()">Ir a SIGUIENTE ejemplo</button>
</div>
