<div class="row">
    <div class="col-md-6 col-md-push-6">
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>
    <div class="col-md-6 col-md-pull-6">
         <img src="http://static.carbonads.com/Advertisers/74394d44308649468fa312afdeaa27cd.png">
    </div>
</div>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="goExample5()">Ir a ANTERIOR ejemplo</button>
    <button type="button" class="btn btn-default" ng-click="goExample1()">Ir a INICIO</button>
</div>
