<div class="container-fluid">

     <div class="row">
        <div class="col-xs-4">
            <h2>HTML</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. </p>
            <p><a href="#" class="btn btn-success">Learn More »</a></p>
        </div>
        <div class="col-xs-4">
            <h2>CSS</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p><a href="#" class="btn btn-success">Learn More »</a></p>
        </div>
        <div class="col-xs-4">
            <h2>Bootstrap</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p><a href="#" class="btn btn-success">Learn More »</a></p>
        </div>
    </div>

     <div class="row">
        <div class="col-xs-4">
            <h2>jQuery</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p><a href="#" class="btn btn-success">Learn More »</a></p>
        </div>
        <div class="col-xs-4">
            <h2>PHP</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p><a href="#" class="btn btn-success">Learn More »</a></p>
        </div>
        <div class="col-xs-4">
            <h2>NodeJs</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p><a href="#" class="btn btn-success">Learn More »</a></p>
        </div>
    </div>

</div>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="goExample2()">Ir a ANTERIOR ejemplo</button>
    <button type="button" class="btn btn-default" ng-click="goExample4()">Ir a SIGUIENTE ejemplo</button>
</div>
