<div class="row">
   <p>Dispositivos muy pequeños (Telefonos, anchura menor o igual a 767px)</p>
   <div class="col-xs-4">col-xs-4</div>
   <div class="col-xs-4">col-xs-4</div>
   <div class="col-xs-4">col-xs-4</div>
</div>

<div class="row">
   <p>Dispositivos pequeños (tablets, anchura mayor o igual a 768px)</p>
   <div class="col-sm-4">col-sm-4</div>
   <div class="col-sm-4">col-sm-4</div>
   <div class="col-sm-4">col-sm-4</div>
</div>

<div class="row">
   <p>Dispositivos medianos (ordenadores, anchura mayor o igual a 992px)</p>
   <div class="col-md-4">col-md-4</div>
   <div class="col-md-4">col-md-4</div>
   <div class="col-md-4">col-md-4</div>
</div>

<div class="row">
   <p>Dispositivos grandes (ordenadores, anchura mayor o igual a 1200px)</p>
   <div class="col-lg-4">col-lg-4</div>
   <div class="col-lg-4">col-lg-4</div>
   <div class="col-lg-4">col-lg-4</div>
</div>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" ng-click="goExample2()">Ir a siguiente ejemplo</button>  
</div>
